// colors - background-color
$mainColor: #82c7a6;
$footerBackgroundColor: #515350;

// font-size
$fontSize-xl: 0.875rem;
$fontSize-md: 0.688rem;
$fontSize-xs: 0.438rem;
$fontSizeTitleFooter: 1.125rem;
