@import 'assets/scss/variables';

.header {
  &__contact {
    background-color: #ebebeb;
    height: 47px;
  }

  .header__container-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    p {
      color: #9c9d9d;
      font-size: $fontSize-xl;
    }
  }

  &__icon {
    color: $mainColor;
  }

  &__divide {
    margin: 0 1.5rem 0 2rem !important;
  }

  .MuiPaper-elevation4 {
    box-shadow: unset;
  }

  &__menu {
    height: 83px;
  }

  &__container-menu {
    height: 100%;
  }

  &__grid {
    height: 100%;
    align-items: center;
  }

  &__logo {
    width: 165px;
    height: 23px;
  }

  &__tabs {
    .MuiTabs-flexContainer {
      justify-content: flex-end;

      a {
        font-size: $fontSize-xl;
        color: #505050;
        font-weight: 300;
      }
    }

    .PrivateTabIndicator-colorPrimary-4 {
      background-color: $mainColor !important;
    }
  }

  &__tab {
    min-width: unset !important;
    padding: 6px 23px !important;
  }
}
