/* Common variables */
@mixin lineGreen($width, $height, $bottom, $left) {
  &::after {
    position: absolute;
    content: '';
    background-color: $greenColor;
    width: $width;
    height: $height;
    bottom: $bottom;
    left: $left;
    @content;
  }
}

$colorWhite: #fff;
$greenColor: #82c7a6;
$grayColor1: #6f7a7f;
$grayColor2: #e9e9e9;
$blueColor: #687dd8;

// Banner
$fontSizeBannerTitle: (
  'small': 28px,
  'normal': 38px,
  'large': 48px,
);

// Volunteer
$fontSizeVolunteerTitle: (
  'small': 12px,
  'normal': 18px,
  'large': 30px,
);

$fontSizeVolunteerContent: (
  'small': 9px,
  'normal': 12px,
  'large': 14px,
);

// Statistical
$fontSizeStatisticalIcon: (
  'small': 18px,
  'normal': 26px,
  'large': 40px,
);

$fontSizeStatisticalNumber: (
  'small': 16px,
  'normal': 18px,
  'large': 30px,
);

$fontSizeStatisticalText: (
  'small': 9px,
  'normal': 12px,
  'large': 14px,
);

// volunteer-detail
$fontSizeVolunteerDetailItemTitle: (
  'small': 16px,
  'normal': 18px,
  'large': 24px,
);

$fontSizeVolunteerDetailTitle: (
  'small': 18px,
  'normal': 24px,
  'large': 30px,
);

$fontSizeVolunteerDetailContent: (
  'small': 9px,
  'normal': 12px,
  'large': 14px,
);

$fontSizeVolunteerDetailCardTitle: (
  'small': 11px,
  'normal': 14px,
  'large': 16px,
);

// Our-Partners
$fontSizeOurPartnersMainTitle: (
  'small': 18px,
  'normal': 24px,
  'large': 30px,
);
