@import 'assets/scss/variables';
@import 'assets/scss/responsive';
@import './variables-aboutus';

/* Style */
.banner {
  width: 100%;
  height: 310px;

  background: url('assets/img/aboutus/banner.jpg') center no-repeat;
  background-size: cover;

  &__container {
    height: 100%;
  }

  &__information {
    position: relative;
    height: 100%;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    position: relative;
    font-size: map-get($fontSizeBannerTitle, 'large') !important;
    color: $colorWhite;
    font-family: $rufina !important;

    @include lineGreen(23px, 2px, 10px, 0px);
  }

  &__image-title {
    position: absolute;
    right: 0;
    top: 0;

    width: 137px;
    height: 222px;
  }
}

.volunteer {
  display: flex;
  align-items: center;
  height: 977px;

  &__layout {
    margin-bottom: 90px;
  }

  &__image {
    width: 358px;
    height: 300px;
  }

  &__title {
    position: relative;
    margin-bottom: 45px !important;

    font-family: $rufina !important;
    font-size: map-get($fontSizeVolunteerTitle, 'large') !important;

    @include lineGreen(23px, 2px, 0px, 0px);
  }

  &__content {
    margin-bottom: 60px !important;

    font-size: map-get($fontSizeVolunteerContent, 'large') !important;
    color: $grayColor1;
  }

  &__button {
    background-color: $blueColor !important;
  }

  &__custom-pagination {
    text-align: center;

    .swiper-pagination-bullet {
      width: initial;
      height: initial;
      background: initial !important;
    }

    .swiper-pagination-bullet-active {
      i {
        color: $greenColor;
      }
    }
  }
}

.statistical {
  height: 300px;
  background-color: $greenColor;

  &__container {
    height: 100%;
  }

  &__grid-container {
    height: 100%;
  }

  &__grid-item {
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__grid-item:nth-child(-n + 3) {
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 300px;
      background-color: $colorWhite;
      right: 0;
      top: 0;
    }
  }

  &__icon {
    .material-icons {
      font-size: map-get($fontSizeStatisticalIcon, 'large') !important;
      color: $colorWhite;
    }
  }

  &__number {
    font-size: map-get($fontSizeStatisticalNumber, 'large') !important;
    font-family: $rufina !important;
  }

  &__text {
    font-size: map-get($fontSizeStatisticalText, 'large') !important;
    text-transform: uppercase;
  }
}

.volunteer-detail {
  height: 1388px;
  display: flex;
  align-items: center;

  &__item--custom-block-one {
    > div:first-child {
      height: 443px;
    }

    > div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__image-one {
    width: 100%;
    height: 100%;
  }

  &__info--custom-margin {
    margin-bottom: 50px;
  }

  &__icon-block-one {
    .material-icons {
      color: $greenColor;
    }
  }

  &__item-title {
    position: relative;
    margin-bottom: 30px !important;
    font-family: $rufina !important;
    font-size: map-get($fontSizeVolunteerDetailItemTitle, 'large') !important;

    @include lineGreen(22px, 2px, 0px, 0px);
  }

  &__content {
    font-size: map-get($fontSizeVolunteerDetailContent, 'large') !important;
    color: $grayColor1;
  }

  &__divider {
    margin: 95px 0 !important;
  }

  &__title {
    position: relative;
    text-align: center;
    margin-bottom: 50px !important;

    font-size: map-get($fontSizeVolunteerDetailTitle, 'large') !important;
    font-family: $rufina !important;

    @include lineGreen(23px, 2px, 0px, 50%) {
      transform: translateX(-50%);
    }
  }

  &__card-media {
    width: 100%;
    height: 273px;

    margin-bottom: 33px;
  }

  &__card-icons {
    text-align: center;
  }

  &__card-content {
    text-align: center;
  }

  &__card-title {
    font-size: map-get($fontSizeVolunteerDetailCardTitle, 'large') !important;
    font-weight: bold !important;
    text-transform: uppercase;
  }
}

.our-partners {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $grayColor2;
  height: 420px;

  &__swiper-pagination {
    text-align: center;

    .swiper-pagination-bullet {
      width: initial;
      height: initial;
      background: initial !important;
    }

    .swiper-pagination-bullet-active {
      i {
        color: $greenColor;
      }
    }
  }

  &__main-title {
    position: relative;
    text-align: center;
    margin-bottom: 40px !important;

    font-size: map-get($fontSizeOurPartnersMainTitle, 'large') !important;
    font-family: $rufina !important;

    @include lineGreen(23px, 2px, 0px, 50%) {
      transform: translateX(-50%);
    }
  }
}

/* Responsive */
.banner {
  @include screen('xs') {
    &__title {
      font-size: map-get($fontSizeBannerTitle, 'small') !important;

      &::after {
        bottom: 0;
      }
    }
  }
}

.volunteer {
  @include breakpoint-down('lg') {
    height: auto;
    padding: 2rem 0;
  }

  @include breakpoint-down('md') {
    &__image {
      width: 100%;
      height: 100%;
    }
  }

  @include breakpoint-down('sm') {
    &__layout {
      margin-bottom: 50px;

      > div:first-child {
        margin-bottom: 1rem;
      }
    }

    &__title,
    &__content {
      margin-bottom: 20px !important;
    }
  }
}

.statistical {
  @include screen('xs') {
    height: 200px;

    &__icon {
      .material-icons {
        font-size: map-get($fontSizeStatisticalIcon, 'normal') !important;
      }
    }

    &__number {
      font-size: map-get($fontSizeStatisticalNumber, 'normal') !important;
    }

    &__text {
      font-size: map-get($fontSizeStatisticalText, 'small') !important;
    }

    &__grid-item:nth-child(-n + 3) {
      &::after {
        height: 100%;
      }
    }
  }
}

.volunteer-detail {
  @include screen('xl') {
    &__item--custom-block-one {
      > div:first-child {
        flex-basis: 415px;
        max-width: 415px;
      }
    }
  }

  @include breakpoint-down('lg') {
    height: auto;
    padding: 2rem 0;
  }

  @include breakpoint-down('sm') {
    &__item--custom-block-one {
      > div:first-child {
        margin-bottom: 2rem;
      }
    }

    &__grid-container {
      > div {
        margin-bottom: 1rem;
      }

      > div:last-child {
        margin-bottom: 0;
      }
    }
  }
}
