@import 'assets/scss/variables';
@import 'assets/scss/responsive';

/* common */
@mixin lineGreen($width, $height, $bottom, $left) {
  &::after {
    position: absolute;
    content: '';
    background-color: $greenColor;
    width: $width;
    height: $height;
    bottom: $bottom;
    left: $left;
    @content;
  }
}

$blueColor: #687dd8;
$whiteColor: #ffffff;
$greenColor: #82c7a6;
$greenColor2: #9be9c0;
$greenColor3: #e1fff1;
$grayColor: #6f7a7f;

$fontSizeSubTitle: (
  'small': 16px,
  'normal': 26px,
  'large': 30px,
);

$fontSizeCommon: (
  'small': 11px,
  'normal': 12px,
  'large': 14px,
);

/* banner */
$fontSizeBannerTitle: (
  'small': 12px,
  'normal': 18px,
  'large': 48px,
);

$fontSizeSmallTextInBannerTitle: (
  'small': 12px,
  'normal': 18px,
  'large': 24px,
);

/* about-us */
$backgroundColorButtonSwiper: (
  'previousButton': #8195ed,
  'nextButton': #4e63bb,
);

/* our-event */
$ourEventsTitle: (
  'small': 14px,
  'normal': 16px,
  'large': 20px,
);

@mixin ourEventsSticker() {
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('assets/img/home/our-events-sticker.png');
    width: 63px;
    height: 61px;
  }
}

/* Style */
.home {
  /* Banner Section */
  &__banner {
    height: 700px;
    background-color: $blueColor;
  }

  &__banner-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 112px;

    h1 {
      font-size: map-get($fontSizeBannerTitle, 'large');
      font-family: $rufina !important;
      color: #fff;

      text-align: center;
      line-height: 0.8 !important;

      span {
        font-size: map-get($fontSizeSmallTextInBannerTitle, 'large');
      }
    }

    .MuiButton-outlinedPrimary {
      margin-top: 50px;
      color: #fff;
      border: 1px solid #fff;

      &:hover {
        border: 1px solid #fff;
      }
    }
  }

  /* Cause List Section */
  &__cause-list {
    height: 875px;
    padding-top: 212px;
  }

  &__cause-list-options {
    .MuiPaper-elevation1 {
      box-shadow: unset !important;
    }
  }

  &__cause-list-card {
    width: 275px;
    height: 500px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__cause-list-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 56px;

    h5 {
      font-size: 30px;
      font-family: $rufina !important;
    }

    p {
      position: relative;
      font-size: 14px;
      color: #879094;

      @include lineGreen(22px, 2px, -12px, 50%) {
        transform: translateX(-50%);
      }
    }
  }

  &__cause-list-card-header {
    .MuiCardHeader-content {
      .MuiCardHeader-title {
        font-size: 25px;
      }
    }
  }

  &__cause-list-card-media {
    width: 125px;
    height: 125px;
  }

  &__cause-list-card-content {
    margin-bottom: 58px;
  }

  &__cause-list-price {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  &__cause-list-divider {
    height: 48px !important;
  }

  &__cause-list-raised {
    h6 {
      font-size: 14px;
      color: #6f7a7f;
      text-transform: uppercase;
    }

    p {
      font-size: 24px;
    }
  }

  &__cause-list-goal {
    @extend .home__cause-list-raised;

    p {
      color: $greenColor;
    }
  }

  &__cause-list-content {
    font-size: 14px !important;
    color: #6f7a7f !important;
  }

  &__cause-list-card-actions {
    .MuiButton-containedPrimary {
      background-color: $blueColor;
      font-size: 14px;
    }
  }
}

.donators {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 650px;
  background-color: #e9e9e9;

  &__tile {
    @extend .home__cause-list-title;
  }

  &__information {
    background-color: #fff;
    height: 367px;
    padding: 40px 50px 60px 50px;
  }

  &__featured-title {
    font-size: 20px !important;
    font-family: $rufina !important;
    text-align: center;
    margin-bottom: 27px !important;
    color: #262626;
  }

  &__featured-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    > div {
      width: 120px;
      height: 130px;
    }
  }

  &__featured-name {
    display: flex;
    justify-content: space-between;

    > div {
      width: 120px;
      text-align: left;

      h6 {
        font-size: 13px;
        text-transform: uppercase;
        color: #6f7a7f;
      }

      p {
        font-size: 16px;
        text-transform: uppercase;

        span {
          color: $greenColor;
        }
      }
    }
  }

  &__divider {
    display: flex;
    justify-content: center;

    .MuiDivider-vertical {
      height: 100% !important;
    }
  }

  &__now-title {
    @extend .donators__featured-title;
  }

  &__now-raised {
    height: 140px;
    padding: 38px 30px;
    margin-bottom: 17px;
    background-color: $greenColor;

    .MuiLinearProgress-root {
      height: 8px !important;
      background-color: #e7e7e7 !important;

      .MuiLinearProgress-barColorPrimary {
        background-color: $greenColor2;
      }
    }
  }

  &__now-raised-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;

    p {
      font-size: 14px !important;
      color: #fff !important;
      text-transform: uppercase;

      span {
        font-size: 24px;
      }
    }
  }

  &__now-end-time {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6 {
      font-size: 14px;
      text-transform: uppercase;

      flex-basis: 10%;
    }

    button {
      flex-basis: 30%;
      height: 50px;
      background-color: $blueColor;
    }
  }

  &__now-end-time-detail {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 60%;

    p {
      width: 50px;
      height: 50px;
      border: 1px solid #e3e3e3;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;

      span:first-child {
        font-size: 15px;
      }

      span:last-child {
        font-size: 11px;
        color: #6f7a7f;
        text-transform: uppercase;
      }
    }
  }
}

.about-us {
  display: flex;
  align-items: center;
  height: 745px;

  position: relative;
  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 337px;
    background-image: url('assets/img/home/bluebackground-aboutus.png');
  }

  &__paper {
    width: 338px;
    height: 588px;
    padding: 15px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__title {
    position: relative;
    margin-bottom: 47px !important;
    font-family: $rufina !important;
    font-size: map-get($fontSizeSubTitle, 'large') !important;

    @include lineGreen(22px, 2px, -5px, 0);
  }

  &__content {
    font-size: map-get($fontSizeCommon, 'large') !important;
    color: #6f7a7f !important;
    margin-bottom: 48px !important;
  }

  &__button {
    background-color: $blueColor !important;
    margin-bottom: 152px !important;
  }

  &__partners {
    .MuiGrid-container {
      div:first-child {
        padding-left: 0 !important;
      }

      div:last-child {
        padding: 0 !important;
      }
    }

    .about-us__title {
      color: $whiteColor;
      margin-bottom: 28px !important;

      &::after {
        background-color: $whiteColor;
      }
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: 103px;

      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__swiper-navigation {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    > div {
      height: 45%;

      button {
        height: 100%;

        .MuiButton-label {
          color: #fff;
        }
      }

      #previousButton {
        background-color: map-get(
          $backgroundColorButtonSwiper,
          'previousButton'
        );
      }

      #nextButton {
        background-color: map-get($backgroundColorButtonSwiper, 'nextButton');
      }
    }
  }
}

.our-events {
  height: 703px;
  display: flex;
  align-items: center;

  &__divider {
    margin: 50px 0px !important;
  }

  &__main-title {
    position: relative;
    margin-bottom: 58px !important;

    font-size: map-get($fontSizeSubTitle, 'large') !important;
    font-family: $rufina !important;

    @include lineGreen(22px, 2px, -3px, 0);
  }

  &__title {
    font-size: map-get($ourEventsTitle, 'large') !important;
    font-family: $rufina !important;
    margin-bottom: 15px !important;
  }

  &__moment {
    font-size: map-get($fontSizeCommon, 'large') !important;
    color: $greenColor;

    margin-bottom: 30px !important;
  }

  &__content {
    font-size: map-get($fontSizeCommon, 'large') !important;
    color: $grayColor;
  }

  &__button {
    margin-top: 64px;

    .MuiButton-contained {
      background-color: $blueColor;
      font-size: map-get($fontSizeCommon, 'large');
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    position: relative;
    width: 100%;
    height: 163px;
    padding: 1.5rem 3rem;
    margin-bottom: 32px;
    text-align: center;

    background-color: $greenColor;

    .our-events__title {
      color: $whiteColor;
    }

    .our-events__content {
      color: $greenColor3;
    }

    @include ourEventsSticker;
  }

  &__list-images {
    display: flex;
    justify-content: space-between;
  }

  &__image-item {
    position: relative;
    width: 250px;
    height: 162px;

    @include ourEventsSticker;
  }
}

/* Responsive */
.home {
  &__cause-list {
    @include breakpoint-down('sm') {
      height: auto;
    }
  }
}

.donators {
  @include screen('md') {
    &__information {
      padding: 40px;
    }

    &__featured-images {
      > div {
        width: 90px;
        height: 100px;
      }
    }

    &__featured-name {
      > div {
        width: 90px;

        h6 {
          font-size: 11px;
        }

        p {
          font-size: 10px;
        }
      }
    }

    &__now-raised {
      height: 120px;
      padding: 30px 20px;
    }

    &__now-raised-detail {
      p {
        font-size: 12px !important;

        span {
          font-size: 18px;
        }
      }
    }

    &__now-end-time {
      h6 {
        font-size: 12px;
      }
    }

    &__now-end-time-detail {
      p {
        width: 35px;
        height: 35px;

        span:first-child {
          font-size: 13px;
        }

        span:last-child {
          font-size: 9px;
        }
      }
    }
  }

  @include breakpoint-down('sm') {
    height: 800px;

    &__divider {
      display: none;
    }

    &__information {
      height: auto;
      padding: 30px;
    }

    &__featured {
      margin-bottom: 2rem !important;
    }

    &__featured-images {
      > div {
        width: 70px;
        height: 90px;
      }
    }

    &__featured-name {
      > div {
        width: 80px;

        h6 {
          font-size: 10px;
        }

        p {
          font-size: 8px;
        }
      }
    }

    &__now-raised {
      height: 100px;
      padding: 30px 20px;
    }

    &__now-raised-detail {
      p {
        font-size: 10px !important;

        span {
          font-size: 13px;
        }
      }
    }

    &__now-end-time {
      h6 {
        font-size: 10px;
      }

      button {
        font-size: 9px;
        height: 70%;
      }
    }

    &__now-end-time-detail {
      p {
        width: 30px;
        height: 30px;

        span:first-child {
          font-size: 11px;
        }

        span:last-child {
          font-size: 7px;
        }
      }
    }
  }
}
