@import 'assets/scss/variables';

/* Variables */
$fontSizeCardContent: (
  'small': 12px,
  'normal': 15px,
  'large': 17px,
);

.swiper-home {
  padding-top: 88px;

  .swiper-slide-active {
    height: 451px !important;
  }

  &__card-media {
    width: 100%;
    height: 328px;
    object-fit: cover;
  }

  &__card-content {
    width: 100%;
    height: 123px;

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-family: $sintony !important;
      font-size: map-get($fontSizeCardContent, 'large');
      text-transform: uppercase !important;
    }
  }
}
