@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import 'assets/scss/variables';

html,
body {
  margin: 0;
  padding: 0;
  font-family: $sintony !important;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.MuiInputBase-root {
  font-family: $sintony !important;
}

.MuiGrid-item {
  padding: 0 15px !important;
}

@import 'assets/scss/components/header.scss';
@import 'assets/scss/components/footer.scss';

/* Swiper common style */
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
